@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #faf7f7;
    
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #037df8;
}

.heading-content{
    position: absolute;
    top: 35%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.heading-content h1{
    font-size: 5em;
    font-weight: 300;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.work-heading h3{
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Roboto Condensed', sans-serif;
}

.work-heading h3:hover{
    color:#037df8;
}

.work-img{
    border-radius: 6px;
    text-align: center;
}

.offset:before{
    display: block;
    content: "";
    height: 6rem;
}

.work-img:hover{
    box-shadow: 2px 2px 10px #037df8;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 600px){
    .heading-content h1{
        font-size: 3em;
        font-weight: 300;
        color: #000000;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

@media only screen and (max-width: 600px){
    .heading-content h3{
        font-size: .5em;
        font-weight: 200;
        color: #000000;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .post-heading h3{
        font-size: 3em;
    }
}